@media (max-width: 785px) {
    .all_orders {
        font-size: 13px;
    }

    .card {
        max-width: 200px;
    }

    .card-img-top {
        height: 150px;
        width: 110px;
    }

    Select {
        font-size: 10px;
    }

    .custom-margin {
        margin: 1rem !important;
        /* Adjust as needed */
    }
}

@media (max-width: 500px) {
    .all_orders {
        font-size: 8px;
    }

    .card {
        min-width: 200px;
    }
}